{% extends 'base.html' %}
{% load humanize %}

{% block extra-style %} 
<style>
    .remenu {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .remenu li {
        display: inline;
        margin-left: 20px;
        margin-right: 20px;

    }
</style>

{% endblock extra-style %}

{% block header %}

<div class = "container mt-5">
    <h2 style = "padding-left:30px">마이페이지</h2>
    <div class = "remenu">
        <ul>
            <li><a href = "{% url 'oauth:profile' %}">홈</a></li>
            <li><a href = "{% url 'oauth:purchase' %}">구매내역</a></li>
            <li><a href = "{% url 'oauth:sales' %}">판매내역</a></li>
            <li><a href = "{% url 'oauth:download' %}">음악 다운로드</a></li>
            <li><a href = "{% url 'oauth:following' %}">뮤지션 팔로우</a></li>
        </ul>
    </div>

</div>

{% endblock %}

{% block content %}

<div class = "download">
    <div class = "musicSearch">
        <form class="d-flex" method="POST" action="{% url 'oauth:download' %}">
            {% csrf_token %}        
            <input class="form-control me-2" type="search" placeholder="내 다운로드 내역에서 찾으시는 콘텐츠를 키워드(제목, 뮤지션명)로 검색해보세요" name="searched" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"> Search </button>
        </form>
    </div>

    <div class = "downloadDetail mt-5">
        <table class ="container-fluid">
            <thead>
                <tr>
                    <th scope="col">노래제목</th>
                    <th scope="col"></th>
                    <th scope="col">판매자</th>
                    <th scope="col">가격</th>
                </tr>
            </thead>
            <tbody>

                {% for order in orders %}
                <tr>
                    <td>{{ order.song.title }}</td>
                    <td>
                        <audio controls class="me-3">
                            <source src="{% url 'songs:song_stream' order.song.id %}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <td>{{ order.song.seller.user }}</td>
                    <td>{{ order.amount|intcomma }}원</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}