{% extends 'base.html' %}

{% block extra-style %}
<style>
    .remenu {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid hsla(0, 0%, 100%, .3);
        border-bottom: 1px solid hsla(0, 0%, 100%, .3);
    }

    .remenu a {
        text-decoration: none;
        color: #bcbcbc;
        font-weight: 500;
    }
    
    .remenu a:hover {
        text-decoration: none;
        color: white;
        font-weight: 500;
    }

    .remenu li {
        display: inline;
        margin: 0 20px;
    }

    .remenu a.active {
        color: white;
    }

    .list-group-item {
    background-color: black;
    border: none;
    }

    .list-group-item:last-child {
        border-bottom: none;
    }
    .break {
        display: none;
    }

    @media (max-width: 576px) {
        .remenu {
            margin-top: 15px;
            padding-top: 10px;
            border-top: 1px solid hsla(0, 0%, 100%, .3);
            border-bottom: 1px solid hsla(0, 0%, 100%, .3);
            text-align: left;
        }

        .remenu a {
            text-decoration: none;
            color: #bcbcbc;
            font-weight: 500;
        }

        .remenu a:hover {
            text-decoration: none;
            color: white;
            font-weight: 500;
        }

        .remenu li {
            display: inline-block;
            margin: 0 10px;
        }

        .left-section,
        .right-top,
        .right-bottom {
            padding: 20px;
        }

        .left-section h2,
        .right-top h2,
        .right-bottom h2 {
            margin-bottom: 20px;
        }
        #follow_number{
            font-size: small;
            white-space: nowrap;
        }
        #recent_activity{
            font-size: small;
            white-space: normal;
            word-break: break-all;
        }
        #follow_btn{
            font-size: smaller;
            white-space: nowrap;
            word-break: break-all;
            block-size: auto;
            max-width: 75px;
            padding-top : 5px;
            padding-bottom: 5px;
            padding-left: 2px;
            padding-right: 2px;
        }
        .break{
            display: inline;
        }
        .col-md-4.recommendations{
            margin: 5px;
            border-top:solid gray 1px;
        }
    }
</style>

{% endblock extra-style %}


{% block content %}
<div class="container">
    <h1 class="fs-2 mb-4 text-white ">팔로우</h1>
    <div class="remenu mb-4">
        <ul>
            <li><a href="{% url 'oauth:profile' %}" {% if request.path == '/accounts/profile/' %}class="active"{% endif %}>홈</a></li>
            <li><a href="{% url 'oauth:purchase' %}" {% if request.path == '/accounts/purchase/' %}class="active"{% endif %}>구매내역</a></li>
            <li><a href="{% url 'oauth:sales' %}" {% if request.path == '/accounts/sales/' %}class="active"{% endif %}>판매내역</a></li>
            <li><a href="{% url 'oauth:following' %}" {% if request.path == '/accounts/follow/' %}class="active"{% endif %}>팔로우</a></li>
        </ul>
    </div>

    <div class = "row">
        <div class = "col-md-8 following-detail">
            <table class = "container-fluid">
                <thead>
                    <tr style="color: #bcbcbc;">
                        <th scope="col">No.</th>
                        <th scope="col">뮤지션 정보</th>
                        <th scope="col">최근 활동</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for follow, recent_songs in page_obj %}
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr id="data-{{follow.following.id}}">
                        <td class = "text-white" id="follow_number">No. {{ page_obj.start_index | add:forloop.counter0 }}</td>
                        <td><a href = "{% url 'follows:following' pk=follow.following.id %}" style="color: aquamarine;">{{ follow.following.username }}</a></td>
                        <td class = "text-white">
                            {% if recent_songs %}
                                <a class="text-decoration-none text-bg-info" id="recent_activity" href="{% url 'songs:song_detail' recent_songs.0.id %}">{{recent_songs.0.title}}을 등록</a>
                            {% else %}
                                최근 활동 없음.
                            {% endif %}
                        </td>
                        <td>
                            <a  class="btn btn-danger me-2" onclick="unfollowArtist('{{follow.following.id}}')" id="follow_btn">팔로우<span class="break"></span>취소</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 recommendations">
            <h3 class="text-white">Recommended Follow</h3>
            {% if recommendations %}
                <ul class="list-group">
                    {% for user in recommendations %}
                    <li id ="recommendation-{{user.id}}" class="list-group-item d-flex justify-content-between align-items-center">
                        <a ><span class="text-white">{{ user.username }}</span></a>
                        <button class="btn btn-sm btn-primary" onclick="followUser({{ user.id }})">Follow</button>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-white">No recommendations available.</p>
                <p class="text-white">모든 추천 팔로우를 이미 팔로우하고 있거나<br>팔로우하고 있는 사용자가 너무 적습니다</p>
            {% endif %}
        </div>
        
    </div>

<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <div>
            <ul class="pagination">
            {% if page_obj.has_other_pages %}
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link text-bg-dark" href="?page={{ page_obj.previous_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">&laquo; Previous</a></li>
                {% endif %}
    
                {% for num in page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link text-bg-dark" 
                        href="?page={{ num }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">{{ num }}</a></li>
                {% endfor %}
    
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link text-bg-dark" href="?page={{ page_obj.next_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">Next &raquo;</a></li>
                {% endif %}
            {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra-script %}
<script>
    function unfollowArtist(userId) {
        const unfollowBtn = document.getElementById('data-'+userId);
        axios({
            method: 'get',
            url: '{% url "follows:unfollow" %}',
            params: {
                userid: userId
            },
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => {
                unfollowBtn.remove()
                location.reload();
            })
            .catch(error => console.log(error));
    }

    function followUser(userId) {
        axios.get('{% url "follows:follow" %}', {
            params: {
                userid: userId
            },
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(function (response) {
            if (response.data.success) {
                alert('팔로우 추가되었습니다');
                const recommendationItem = document.getElementById('recommendation-' + userId);
                if (recommendationItem) {
                    recommendationItem.remove();  // 추천 목록에서 해당 사용자 제거
                }
                location.reload();  // 페이지 새로고침
            } else {
                alert('Error: ' + response.data.error);
            }
        })
        .catch(function (error) {
            alert('An error occurred: ' + error);
        });
    }

</script>


{% endblock extra-script %}