{% extends 'base.html' %}
{% load widget_tweaks %}

{% load static %}

{% block extra-style %}

<style>
    .remenu {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .remenu a {
        text-decoration: none;
        color: #bcbcbc;
        font-weight: 500;
    }

    .remenu a:hover {
        text-decoration: none;
        color: white;
        font-weight: 500;
    }

    .remenu li {
        display: inline;
        margin: 0 20px;
    }

    .left-section,
    .right-top,
    .right-bottom {
        /* border: 1px solid #ccc; */
        padding: 20px;
    }

    .left-section h2,
    .right-top h2,
    .right-bottom h2 {
        margin-bottom: 20px;
    }

    .profile-img {
        width: 100%;
        max-width: 200px;
        height: auto;
        border-radius: 50%;
    }

    .file-input {
        width: 50%;
        /* 입력 필드의 길이를 조절 */
    }

    .active-link {
        color: white;
    }


    .remenu a.active {
        color: white;
    }
</style>
<link rel="stylesheet" href="{% static 'css/jquery.flipster.min.css' %}">
{% endblock extra-style %}

{% block content %}
<div class="container">
    <h1 class="fs-2 mb-4 text-white" >마이페이지</h1>
    <div class="remenu mb-4">
        <ul>
            <li><a href="{% url 'oauth:profile' %}" {% if request.path == '/accounts/profile/' %}class="active"{% endif %}>홈</a></li>
            <li><a href="{% url 'oauth:purchase' %}" {% if request.path == '/accounts/purchase/' %}class="active"{% endif %}>구매내역</a></li>
            <li><a href="{% url 'oauth:sales' %}" {% if request.path == '/accounts/sales/' %}class="active"{% endif %}>판매내역</a></li>
            <li><a href="{% url 'oauth:following' %}" {% if request.path == '/accounts/follow/' %}class="active"{% endif %}>팔로우</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-4 text-center">
            <form method="post" enctype="multipart/form-data" class="left-section bg-dark shadow text-white">
                {% csrf_token %}
                <h2>프로필</h2>
                <img src="{{ user.profile.url }}" alt="{{ user.username }}" class="profile-img mb-2">
                <div class="mb-3 ">
                    <input class="file-input" type="file" name="{{ form.profile.name }}"
                        id="{{ form.profile.id_for_label }}" accept="image/png, image/jpeg, image/gif" onchange="previewFile()"/>
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center">
                        <label class="flex-shrink-0" for="{{ form.username.id_for_label }}" style="margin-left:30px; margin-right: 3px;">닉네임</label>
                        {% render_field form.username class="rounded-2 text-center flex-grow-1 w-100 " style="margin-right:30px;" %}
                    </div>
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <div class="alert alert-danger mt-2">이미 존재하는 닉네임입니다.<br>다른 닉네임으로 변경해주세요.</div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="mb-3">
                    이메일 {{ user.email }}
                </div>
                <button class="btn btn-outline-light me-2" type="submit">저장</button>
            </form>
        </div>
        <div class="col-8 text-center">
            {% if not user.is_seller %}
            <div class="col mb-2 text-bg-dark " style="margin-right: 2px;">
                <div class="col-md-12 right-top">
                    <a class="text-bg-dark " href="{% url 'sellers:seller_apply' %}">판매자 신청하러 가기</a>
                </div>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
                {% if user.is_seller %}
                <div class="row text-bg-dark" style="margin-right: 2px;">
                    <div class="col-md-12 mb-3 mt-3" >
                        <a class="text-decoration-none" href="{% url 'sellers:seller_upload' %}"><span class="fs-4 text-white">음악 업로드</span></a>
                    </div>
                </div>
                
                <div id="coverflow" class="mt-5">
                    <ul class="flip-items">
                        <li data-flip-title="Razzmatazz" data-flip-category="Purples">
                            <img src="https://img.freepik.com/free-photo/a-painting-of-a-mountain-lake-with-a-mountain-in-the-background_188544-9126.jpg" width="200px" height="200px">
                        </li>
                        <li data-flip-title="Deep Lilac" data-flip-category="Purples">
                            <img src="https://img.freepik.com/free-photo/a-painting-of-a-mountain-lake-with-a-mountain-in-the-background_188544-9126.jpg" width="200px" height="200px">
                        </li>
                        <li data-flip-title="Daisy Bush" data-flip-category="Purples">
                            <img src="https://img.freepik.com/free-photo/a-painting-of-a-mountain-lake-with-a-mountain-in-the-background_188544-9126.jpg" width="200px" height="200px">
                        </li>
                        <li data-flip-title="Cerulean Blue" data-flip-category="Blues">
                            <img src="https://img.freepik.com/free-photo/a-painting-of-a-mountain-lake-with-a-mountain-in-the-background_188544-9126.jpg" width="200px" height="200px">
                        </li>
                        <li data-flip-title="Dodger Blue" data-flip-category="Blues">
                            <img src="https://img.freepik.com/free-photo/a-painting-of-a-mountain-lake-with-a-mountain-in-the-background_188544-9126.jpg" width="200px" height="200px">
                        </li>
                        <li data-flip-title="Dodger Blue" data-flip-category="Blues">
                            <img src="https://img.freepik.com/free-photo/a-painting-of-a-mountain-lake-with-a-mountain-in-the-background_188544-9126.jpg" width="200px" height="200px">
                        </li>
                        <li data-flip-title="Dodger Blue" data-flip-category="Blues">
                            <img src="https://img.freepik.com/free-photo/a-painting-of-a-mountain-lake-with-a-mountain-in-the-background_188544-9126.jpg" width="200px" height="200px">
                        </li>
                    </ul>
                </div>


                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra-script %}
<script>
    function previewFile() {
        const file = document.querySelector('input[type=file]').files[0];
        const preview = document.querySelector('.profile-img');

        const reader = new FileReader();

        reader.addEventListener("load", function () {
            // 파일을 읽은 후 src 속성에 결과 데이터 URL을 설정
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file); // 파일을 읽어 데이터 URL로 변환
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<!-- Flipster Js -->
<script src="{% static 'js/jquery.flipster.min.js' %}"></script>

<script>
var coverflow = $("#coverflow").flipster();
</script>

{% endblock extra-script %}