{% extends 'base.html' %}

{% block extra-style %} 
<style>
    .remenu {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    .remenu li {
        display: inline;
        margin-left: 20px;
        margin-right: 20px;

    }

</style>

{% endblock extra-style %}

{% block header %}

<div class = "container mt-5">
    <h2 style = "padding-left:30px">마이페이지</h2>
    <div class = "remenu">
        <ul>
            <li><a href = "{% url 'oauth:profile' %}" class="text-decoration-none text-black">홈</a></li>
            <li><a href = "{% url 'oauth:purchase' %}" class="text-decoration-none text-black">구매내역</a></li>
            <li><a href = "{% url 'oauth:sales' %}" class="text-decoration-none text-black">판매내역</a></li>
            <li><a href = "{% url 'oauth:download' %}" class="text-decoration-none text-black">음악 다운로드</a></li>
            <li><a href = "{% url 'oauth:following' %}" class="text-decoration-none text-black">뮤지션 팔로우</a></li>
        </ul>
    </div>

</div>

{% endblock %}


{% block content %}

<div class = "container">
    <div class = "row">
        <div class = "col-md-4 left-section" style="border: 1px solid #000;">
            <h2>내 정보</h2>
            <div>프로필 이미지 : <img src="{{ user.profile.url }}" alt="{{user.username}}" width="200px;"></div>
            <div>닉네임: {{ user.username }}</div>
            <div>이메일: {{ user.email }}</div>

        </div>

        <div class = "col-md-8">
            <div class ="row">
                <div class = "col-md-12 right-top" style="border: 1px solid #000; margin-left: 20px;">
                    <h2>다운로드 내역</h2>
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12 right-bottom" style="border: 1px solid #000; margin-top: 20px; margin-left:20px;">
                    <h2>찜한 내역</h2>
                </div>
            </div>
        </div>
    </div>
 
</div>




{% endblock %}