{% extends 'base.html'%}
{% load humanize %}

{% block extra-style %} 
<style>
    .remenu {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .remenu a {
        text-decoration: none;
        color: #bcbcbc;
        font-weight: 500;
    }

    .remenu a:hover {
        text-decoration: none;
        color: white;
        font-weight: 500;
    }

    .remenu li {
        display: inline;
        margin: 0 20px;
    }

    .remenu a.active {
        color: white;
    }

</style>

{% endblock extra-style %}


{% block content %}
<div class="container">
    <h1 class="fs-2  mb-4 text-white">구매내역</h1>
    <div class="remenu mb-4">
        <ul>
            <li><a href="{% url 'oauth:profile' %}" {% if request.path == '/accounts/profile/' %}class="active"{% endif %}>홈</a></li>
            <li><a href="{% url 'oauth:purchase' %}" {% if request.path == '/accounts/purchase/' %}class="active"{% endif %}>구매내역</a></li>
            <li><a href="{% url 'oauth:sales' %}" {% if request.path == '/accounts/sales/' %}class="active"{% endif %}>판매내역</a></li>
            <li><a href="{% url 'oauth:following' %}" {% if request.path == '/accounts/follow/' %}class="active"{% endif %}>팔로우</a></li>
        </ul>
    </div>

<div class = "purchaseDetail mt-5">
    <table class ="container-fluid">
        <thead>
            <tr style="color: #bcbcbc;">
                <th scope="col">No.</th>
                <th scope="col">구매날짜</th>
                <th scope="col">노래제목</th>
                <th scope="col">판매자</th>
                <th scope="col">가격</th>
            </tr>
        </thead>
        <tbody>
            {% for order in page_obj %}
                <tr>
                    <td class = "text-white">No. {{ page_obj.start_index | add:forloop.counter0 }}</td>
                    <td class = "text-white"><a href="{% url 'payments:payment_detail' order.id %}">{{ order.created_at|date:"Y년 n월 j일 g:i A" }}</a></td>
                    <td class = "text-white">{{ order.song.title }}</td>
                    <td class = "text-white">{{ order.song.seller }}</td>
                    <td class = "text-white">{{ order.amount|intcomma  }}원</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <div>
            <ul class="pagination">
            {% if page_obj.has_other_pages %}
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
                {% endif %}
    
                {% for num in page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}
    
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
                {% endif %}
            {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}