{% extends 'base.html'%}
{% load humanize %}
{% load humanize %}

{% block extra-style %} 
<style>
    .remenu {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .remenu li {
        display: inline;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    } */
    

</style>

{% endblock extra-style %}


{% block content %}
<div class = "mypageNav mt-5">
    <h2 style = "padding-left:30px">마이페이지</h2>
    <div class = "remenu">
        <ul>
            <li><a href = "{% url 'oauth:profile' %}" class="text-decoration-none text-white">홈</a></li>
            <li><a href = "{% url 'oauth:purchase' %}" class="text-decoration-none text-white">구매내역</a></li>
            <li><a href = "{% url 'oauth:sales' %}" class="text-decoration-none text-white">판매내역</a></li>
            <li><a href = "{% url 'oauth:download' %}" class="text-decoration-none text-white">음악 다운로드</a></li>
            <li><a href = "{% url 'oauth:following' %}" class="text-decoration-none text-white">뮤지션 팔로우</a></li>
        </ul>
    </div>
</div>

<div class = "purchaseDetail mt-5">
    <table class ="container-fluid">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">구매날짜</th>
                <th scope="col">노래제목</th>
                <th scope="col">판매자</th>
                <th scope="col">가격</th>
            </tr>
        </thead>
        <tbody>


            {% for order in page_obj %}
            <tr>
                <td>No. {{order.id}}</td>
                <td><a href="{% url 'payments:payment_detail' order.song.id %}">{{ order.created_at }}</a></td>
                <td>{{ order.song.title }}</td>
                <td>{{ order.song.seller }}</td>
                <td>{{ order.amount|intcomma  }}원</td>
            </tr>
            {% endfor %}


        </tbody>

    </table>
</div>

<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <div>
            <ul class="pagination">
            {% if page_obj.has_other_pages %}
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
                {% endif %}
    
                {% for num in page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}
    
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
                {% endif %}
            {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}