{% extends 'base.html' %}

{% block extra-style %}
<style>
    .remenu {
        margin-top: 15px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .remenu a {
        text-decoration: none;
        color: #bcbcbc;
        font-weight: 500;
    }

    .remenu a:hover {
        text-decoration: none;
        color: white;
        font-weight: 500;
    }

    .remenu li {
        display: inline;
        margin: 0 20px;
    }

    .remenu a.active {
        color: white;
    }

</style>

{% endblock extra-style %}


{% block content %}

<div class="container">
    <h1 class="fs-2 mb-4 text-white ">판매내역</h1>
    <div class="remenu mb-4">
        <ul>
            <li><a href="{% url 'oauth:profile' %}" {% if request.path == '/accounts/profile/' %}class="active"{% endif %}>홈</a></li>
            <li><a href="{% url 'oauth:purchase' %}" {% if request.path == '/accounts/purchase/' %}class="active"{% endif %}>구매내역</a></li>
            <li><a href="{% url 'oauth:sales' %}" {% if request.path == '/accounts/sales/' %}class="active"{% endif %}>판매내역</a></li>
            <li><a href="{% url 'oauth:following' %}" {% if request.path == '/accounts/follow/' %}class="active"{% endif %}>팔로우</a></li>
        </ul>
    </div>

    <div class="container-fluid px-5 ">
        <table class="container-fluid">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">등록날짜</th>
                    <th scope="col">노래제목</th>
                    <th scope="col">가격</th>
                    <th scope="col">총 판매횟수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No. NNN</td>
                    <td>등록날짜 상세</td>
                    <td>노래제목 상세</td>
                    <td>가격 상세</td>
                    <td>판매날짜 상세</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}