{% extends 'base.html' %}
{% load session_filters %}

{% block extra-style %}
<style>
    .btn-group .btn {
        background-color: #1f1e1e; /* 버튼의 기본 배경 색상 */
        border: 1px solid hsla(0, 0%, 100%, .3);
        color: white;
    }

    .btn-group .btn.active, .btn-group .btn:active {
        background-color: #1f1e1e; /* 활성화된 버튼의 배경 색상 유지 */
        color: white; /* 활성화된 버튼의 글자 색상 유지 */
        box-shadow: none; /* 버튼 클릭 시 그림자 효과 제거 */
        outline: none; /* 포커스 효과 제거 */
    }

    .btn-group .btn:focus {
        box-shadow: none; /* 포커스 상태에서도 그림자 효과 제거 */
    }
</style>

{% endblock extra-style %}

{% block content %}
<div class="container">
    <div style=" border-bottom: 1px solid hsla(0, 0%, 100%, .3); padding-bottom: 24px;">
        <h1 id="board-title" class="fs-2 text-white m-0 ">
            커뮤니티{% if sort == 'popular' %} | 인기순{% else %} | 최신순{% endif %}
        </h1>
    </div>

    <div class = "container">
        <div class = "row mt-3">
            <div class = "col d-flex">
                <div class="btn-group m-0" role="group" aria-label="Sort" style="border: 1px solid hsla(0, 0%, 100%, .3);">
                    <a href="?sort=latest" class="btn btn-dark m-0 {% if sort == 'latest' %} active{% endif %}">최신순</a>
                    <a href="?sort=popular" class="btn btn-dark m-0 {% if sort == 'popular' %} active{% endif %}">인기순</a>
                </div>
                <div style="display: inline-block; margin-left: 10px;">
                    <div class="d-flex ">
                        <form class="d-flex " id="search-form">
                            <div class="input-group ">
                                <input type="text" id="search-input" title="title" class="form-control" style="width: 300px; border: 1px solid hsla(0, 0%, 100%, .3);" placeholder="검색어를 입력하세요.">
                                <button type="submit" class="btn btn-outline-light bg-dark " style="border: 1px solid hsla(0, 0%, 100%, .3);">검색</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class = "col d-flex justify-content-end">
                    <a href = "{% url 'boards:bookmarked_boards' %}" class = "btn btn-dark m-0" style="border: 1px solid hsla(0, 0%, 100%, .3);">북마크 글</a>
                </div>
            </div>
        </div>

        <div class = "row mt-1 mb-2">
            <div class = "col d-flex justify-content-end">
                <a href = "{% url 'boards:board_create' %}" class = "btn btn-dark m-0" style="border: 1px solid hsla(0, 0%, 100%, .3);">글쓰기</a>
            </div>
        </div>
    </div>

    

    <!-- 게시판 항목들 -->
    <div id="boards-container">
        {% for board in page_obj %}
            <div class="container p-0 mt-1 px-3">
                <div class = "row justify-content-between align-items-center bg-dark p-3 shadow rounded-2 board" data-board-id="{{ board.id }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">
                    <div class = "col-auto">
                        <div class = "board-number">
                            <div class = "text-white">{{ page_obj.start_index | add:forloop.counter0 }}</div>
                        </div>
                    </div>

                    <div class = "col">
                        <a class="text-decoration-none " href="{{ board.get_absolute_url }}">
                        <div class="board-content">
                            <div style="font-size: 2em; font-weight: bold; color:white;">{{ board.title }}</div>
                            <div style="font-size: 1em; color:rgb(149, 148, 148);">{{ board.content|truncatewords:5 }}</div>
    
                            <div class = "board-actions" style= "margin-top: 10px; font-size: 0.8em;">
                                <span class = "text-white">좋아요 {{board.likes_count}}</span>
                                <span class = "text-white comment-count">댓글 수 불러오는 중..</span></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- 페이지네이션 -->
<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <div>
            <ul class="pagination">
                {% if page_obj.has_other_pages %}
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
                    {% endif %}
    
                    {% for num in page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endfor %}
    
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}


{% block extra-script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const boards = document.querySelectorAll('.board');
        const requests = [];

        boards.forEach(board => {
            const boardId = board.dataset.boardId;
            const commentCountSpan = board.querySelector('.comment-count');
            commentCountSpan.textContent = '댓글수 불러오는 중...'; // 로딩 중 메시지

            const request = axios.get(`/boards/comment_counts/?board_id=${boardId}`, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            });

            // 각 요청과 관련된 span을 함께 저장
            requests.push({ request, commentCountSpan });
        });

        // 모든 요청이 완료되면 responses 배열이 반환됨
        Promise.all(requests.map(req => req.request))
            .then(responses => {
                responses.forEach((response, index) => {
                    const commentCountSpan = requests[index].commentCountSpan;
                    if (response.status === 200) {
                        commentCountSpan.textContent = `댓글수 ${response.data.comment_count}`;
                    } else {
                        commentCountSpan.textContent = '댓글수 불러오기 실패';
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching some comment counts:', error);
                requests.forEach(req => {
                    req.commentCountSpan.textContent = '댓글수 불러오기 실패';
                });
            });

    });

    // 게시글 삭제 팝업
    document.addEventListener("DOMContentLoaded", function() {
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
    });

    function showRecent(pageNumber = 1) {
        const title = document.getElementById('board-title')
        axios({
            method: 'get',
            url: '{% url "boards:board_list" %}',
            params: {
                page: pageNumber
            }
        })
            .then(response => {
                title.textContent = '차트 | 최신순';
                document.getElementById('boards-container').innerHTML = response.data;
            })
            .catch(error => console.log(error));
    }

    function showRanking(pageNumber = 1) {
        const title = document.getElementById('board-title')
        axios({
            method: 'get',
            url: '{% url "songs:song_ranking" %}',
            params: {
                page: pageNumber
            }
        })
            .then(response => {
                title.textContent = '차트 | 인기순';
                document.getElementById('boards-container').innerHTML = response.data;
            })
            .catch(error => console.log(error));
    }

</script>
{% endblock extra-script %}


