{% extends 'base.html' %}
{% load session_filters %}

{% block extra-style %}{% endblock extra-style %}

{% block content %}


<div class = "container">
    <div style=" border-bottom: 1px solid hsla(0, 0%, 100%, .3); padding-bottom: 24px;">
        <h1 class="fs-2 text-white m-0 ">북마크한 글</h1>
    </div>

    <!-- 게시판 항목들 -->
    <div id="boards-container" class="mt-3">
        {% for bookmark in page_obj %}
            <div class="container p-0 mt-1 px-3">
                <div class = "row justify-content-between align-items-center bg-dark p-3 shadow rounded-2 board" data-board-id="{{ board.id }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">
                    <div class = "col-auto">
                        <div class = "board-number">
                            <div class = "text-white">{{ page_obj.start_index | add:forloop.counter0 }}</div>
                        </div>
                    </div>

                    <div class = "col">
                        <a class="text-decoration-none " href="{{ bookmark.board.get_absolute_url }}">
                        <div class="board-content">
                            <div style="font-size: 2em; font-weight: bold; color:white;">{{ bookmark.board.title }}</div>
                            <div class="mt-1" style="font-size: 1em; color:rgb(149, 148, 148);">{{ bookmark.board.content|truncatewords:5 }}</div>
                            <div class="mt-1" style="font-size: 0.8em; color:rgb(149, 148, 148);">Bookmark date : {{bookmark.created_at}}</div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- 페이지네이션 -->
<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <div>
            <ul class="pagination">
                {% if page_obj.has_other_pages %}
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
                    {% endif %}
    
                    {% for num in page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endfor %}
    
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% for bookmark in bookmarks %}
    <p>{{bookmark.board.title}}</p>
{% endfor %}


{% endblock content %}

{% block extra-script %}{% endblock extra-script %}