{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}

{% block content %}

    <div class="container">
        <div style=" border-bottom: 1px solid hsla(0, 0%, 100%, .3); padding-bottom: 24px;">
            <h1 id="chart-title" class="fs-2 text-white m-0 ">결제 내역</h1>
        </div>

        <div class="card mt-3 d-flex justify-content-center align-content-center text-center ">
            <div class="card-body">
                <h5 class="card-title">결제 정보</h5>
                <p class="card-text m-0">
                    <strong>거래 ID:</strong> {{ payment.merchant_uid }}<br>
                    <div class="mt-1 mb-2"><strong>결제 시간:</strong> {{ payment.created_at|date:"Y년 n월 j일 g:i A" }}</div>
                <div>
                    {% thumbnail payment.order.song.thumbnail "200x200" crop="center" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ payment.name }}" class="rounded-2 ">
                    {% endthumbnail %}
                </div>
                <div class="mt-2"><strong>상품명:</strong> {{ payment.name }}</div>
                <div class="mt-1"><strong>결제 금액:</strong> {{ payment.amount|intcomma }}원</div>
                <div class="mt-1"><strong>결제 상태:</strong> {{ payment.get_status_display }}</div>
                <div class="mt-1"><strong>결제 여부:</strong> {{ payment.is_paid|yesno:"결제 완료,미결제" }}</div>
                </p>
            </div>
        </div>

        <div>
            <a href="{% url 'home' %}" class="btn btn-outline-light mt-3 w-100 ">홈으로</a>
        </div>

    </div>

</div>

{% endblock content %}