{% extends 'base.html' %}
{% load thumbnail %}

{% block extra-style %}
<style>
    .search-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .input-group {
        width: 50%;
    }

    .form-control {
        border-radius: 20px 0 0 20px;
        padding: 12px 20px;
        font-size: 16px;
        background-color: #ffffff;
        /* 입력창 배경색 */
        color: #333;
        /* 입력창 텍스트 색상 */
    }

    .btn-search {
        border-radius: 0 20px 20px 0;
        padding: 5px 30px;
        font-size: 16px;
        background-color: rgb(129, 255, 61);
        /* 버튼 배경색 */
        color: #ffffff;
        /* 버튼 텍스트 색상 */
    }

    .search-result {
        text-align: center;
    }

    .search-results {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-item {
        width: 200px;
        margin: 20px;
        text-align: center;
    }

    .search-thumbnail {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 20%;
    }

    .search-title {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .song {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .song img {
        width: 100px;
        height: auto;
        border-radius: 10px;
        margin-right: 50px;
    }

    .song a {
        margin-right: 100px;
    }

    .song audio {
        order: 0;
        margin-left: 50px;
    }

    .ranking {
        min-width: 50px;
        text-align: left;
    }

</style>
{% endblock extra-style %}



<!-- 검색 부분 -->
{% block content %}
<div class="container">


    <form id="search-form" class="search-form mt-4">

    <form id="search-form" class="search-form">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" id="search-input" title="title" class="form-control" placeholder="검색어를 입력하세요">
            <button type="submit" class="btn-search btn btn-primary">검색</button>
        </div>
    </form>
    <div class="search-result">
        <div id="display-content"></div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <h3>신곡</h3>
            <div class="row">
                {% for song in object %}
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="card">
                        <a href="{% url 'songs:song_detail' pk=song.id %}">
                            {% thumbnail song.thumbnail "300x300" crop="center" as thumb %}
                            <img src="{{ thumb.url }}" class="card-img-top food-image" alt="{{ song.title }}">
                            <div class="card-body row">
                                <h5 class="card-title">{{ song.title }}</h5>
                            </div>
                            {% endthumbnail %}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h3>Top 10</h3>
    <div>
        {% for song, score in ranking_songs %}
            <div class="song">
                <span class="ranking">{{ forloop.counter }}</span>
                <a href="{% url 'songs:song_detail' pk=song.id %}">
                    {% thumbnail song.thumbnail "300x300" crop="center" as thumb %}
                        <img src="{{ thumb.url }}" class="card-img-top food-image" alt="{{ song.title }}" style="border-radius: 10px;">
                    {% endthumbnail %}
                    {{ song.title }} -- {{ song.seller }}
                </a>
                <audio controls>
                    <source src="{{ song.audio_url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra-script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.getElementById("daily_chart").addEventListener('click', function() {
        axios({
            method: 'post',
            url: '{%url "daily_chart" %}',
            data: {},

            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            document.getElementById('message').innerText = response.data.data;
        })
        .catch(error => console.error(error));
    });

    document.getElementById("search-form").addEventListener('submit', function (event) {
        event.preventDefault();
        const search_name_value = document.getElementById('search-input').value;
        const display_content = document.getElementById('display-content');
        axios({
            method: 'post',
            url: '{% url "search" %}',
            data: JSON.stringify({
                title: search_name_value
            }),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => {
                console.log(response);
                if (response.data.success === 'true') {
                    display_content.innerHTML = response.data.data;
                } else {
                    display_content.textContent = response.data.message;
                }
            })
            .catch(error => console.log(error));
    });
</script>



{% endblock extra-script %}
