{% extends "base.html" %}
{% load session_filters %}

{% load thumbnail %}

{% block extra-style %}
<style>
    .content {
        flex: 1;
        margin-right: 0px;
        margin-bottom: 0px;
        /* 내용과 버튼 사이의 간격 설정 */
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

    #favoritesMusicList {
        display: block;
        /* Show Favorites by default */
    }

    /* Initially hidden */
    #recentMusicList {
        display: none;
    }

    .recent-song-item {
        display: flex;
        align-items: center;
        /* 수직 가운데 정렬 */
        justify-content: space-between;
        /* 내부 요소 사이의 간격을 최대로 설정 */
        width: calc(90%);
        background-color: #1f1e1e;
        padding: 10px;
        border-radius: 25px;
        margin-bottom: 8px;
        line-height: 1;
    }

    .purchase-form {
        display: flex;
        align-items: center;
        /* 수직 가운데 정렬 */
    }

    .shopping-cart {
        color: #f0f0f0;
    }
    @media (max-width: 576px) {
        .col-auto.d-flex.align-items-center {
        width: 200%;
        margin: 15px 0px 0px;
        padding-left: 0px;
        padding-right: 0px;
        }
        
        .btn {
            padding:5px;
            
        }
}
</style>
{% endblock extra-style %}

{% block content %}



<div class="container ">
    <div style=" border-bottom: 1px solid hsla(0, 0%, 100%, .3); padding-bottom: 24px;" class="mb-3">
        <h1 id="chart-title" class="fs-2 text-white m-0 ">찜한 음악</h1>
    </div>
    <div>
        <div class="container">
            <div class="row mt-3 mb-3">
                <div class="col">
                    <div class="btn-group" role="group" aria-label="Sort">
                        <button type="button" class="btn btn-dark " style="border: 1px solid hsla(0, 0%, 100%, .3);" onclick="myFavorite();">My List</button>
                        <button type="button" class="btn btn-dark" style="border: 1px solid hsla(0, 0%, 100%, .3);" onclick="myRecent();">Recent Music</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="show-list">
            <div id="favoritesMusicList" class="song-list">
                <div id="songs-container">
                    {% if not page_obj %}
                    <div class="container p-0 mt-1 px-3">
                        <h1 class="fs-4 text-white ">찜 목록이 비어있습니다.</h1>
                    </div>
                    {% endif %}
                    {% for cart in page_obj %}
                    <div class="container p-0 mt-1 px-3">
                        <div class="row justify-content-between align-items-center bg-dark p-2 shadow rounded-2 " style="border: 1px solid hsla(0, 0%, 100%, .3);"
                            id="cart-song-{{ cart.song.id }}">
                            {% thumbnail cart.song.thumbnail "70x70" crop="center" as thumb %}
                            <a href="{% url 'songs:song_detail' cart.song.id %}"
                                style="padding: 0; display: inline; width: 70px;"><img src="{{ thumb.url }}" alt=""
                                    style="width: 70px; height: 70px; padding: 0;"></a>
                            {% endthumbnail %}
                            <div class="col">
                                <a class="text-decoration-none " href="{% url 'songs:song_detail' cart.song.id %}">
                                    <!-- 노래 세부 내용 페이지로 링크 -->
                                    <h5 class="text-white mb-0">{{ cart.song.title }}</h5>
                                    <small class="fs-6" style="color: #888888;">
                                        <a class="text-decoration-none " style="color: #888" href="{% url 'sellers:seller_artist' cart.song.seller.user.id %}">{{cart.song.seller }}</a>
                                    </small>
                                </a>
                            </div>

                            <div class="col-auto d-flex align-items-center">
                                <audio controls class="me-0" controlsList="nodownload">
                                    <source src="{{ cart.song.mp3.url }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>

                                {% if user.is_authenticated %}
                                <!-- 여기서 templatetags 로 song.id를 넘겨서 구매한 노래인지 아닌 지 확인 하는 거를 체크-->
                                {% is_purchased user cart.song.id as purchased %}
                                {% is_added_to_cart user cart.song.id as added %}
                                <!-- 찜 버튼 -->
                                {% if not added %}
                                <button id="add-btn-{{cart.song.id}}" type="button" class="btn btn" onclick="addToCart('{{cart.song.id}}');">🤍</button>
                                <a class=" btn btn text-white" style="cursor: pointer;" data-id="{{ cart.song.id }}" onclick="showLyrics(this.getAttribute('data-id'))">📃</a>

                                {% else %}
                                <button id="remove-btn-{{cart.song.id}}" type="button"class="btn btn" onclick="removeFromCart('{{cart.song.id}}');">❤️</button>
                                <a class=" btn btn text-white" style="cursor: pointer;" data-id="{{ cart.song.id }}" onclick="showLyrics(this.getAttribute('data-id'))">📃</a>
                                {% endif %}
                                {% if not purchased %}
                                <!-- 다운로드 버튼 -->
                                <form action="{% url 'payments:payment_pay' cart.song.id %}" onsubmit="return confirmPurchase('{{ cart.song.title|escapejs }}')">
                                    <button class="btn btn" type="submit" onclick="">💳</button>
                                </form>
                                {% else %}
                                <a href="{{ cart.song.mp3.url }}" download="{{ cart.song.title }}.mp3">
                                    <button class="btn btn">💾</button>
                                </a>
                                {% endif %}
                                {% else %}
                                <button type="button" class="btn btn" onclick="gotoLogin();">🤍</button>
                                <button class="btn btn" type="submit" onclick="gotoLogin();">💳</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_other_pages %}
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link text-bg-dark"
                                href="?page={{ page_obj.previous_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">&laquo; Previous</a></li>
                        {% endif %}

                        {% for num in page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link text-bg-dark"
                                href="?page={{ num }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">{{ num }}</a></li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link text-bg-dark" href="?page={{ page_obj.next_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">Next
                                &raquo;</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </div>


            <!--최근 본 음악-->
            <div class="container p-0 mt-1 px-3">
                <div id="recentMusicList" class="song-list">
                    {% for song_id in request.session.viewed_songs %}
                    {% with song=song_id|get_song %}
                    <div class="song-item">
                        {% if song %}
                        <div class="container-fluid p-0 mt-1">
                            <div class="row justify-content-between align-items-center bg-dark p-1 shadow rounded-2 " style="border: 1px solid hsla(0, 0%, 100%, .3);">
                                {% thumbnail song.thumbnail "70x70" crop="center" as thumb %}
                                <a href="{% url 'songs:song_detail' song.id %}"
                                    style="padding: 0; display: inline; width: 70px;"><img src="{{ thumb.url }}" alt=""
                                        style="width: 70px; height: 70px; padding: 0;"></a>
                                {% endthumbnail %}
                                <div class="col">
                                    <a class="text-decoration-none " href="{% url 'songs:song_detail' song.id %}">
                                        <!-- 노래 세부 내용 페이지로 링크 -->
                                        <h5 class="text-white mb-0">{{ song.title }}</h5>
                                        <small class="fs-6" style="color: #888888;">
                                            <a class="text-decoration-none " style="color: #888;" href="{% url 'sellers:seller_artist' song.seller.user.id %}">{{ song.seller }}</a>
                                        </small>
                                    </a>
                                </div>
                                
                                <div class="col-auto d-flex align-items-center">
                                    <audio controls class="me-0" controlsList="nodownload">
                                        <source src="{{ song.mp3.url }}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>

                                    {% if user.is_authenticated %}
                                    <!-- 여기서 templatetags 로 song.id를 넘겨서 구매한 노래인지 아닌 지 확인 하는 거를 체크-->
                                    {% is_purchased user song.id as purchased %}
                                    {% if not purchased %}
                                    <a class="btn btn text-white" style="cursor: pointer;" data-id="{{ song.id }}" onclick="showLyrics(this.getAttribute('data-id'))">📃</a>
                                    <!-- 구매버튼 -->
                                    <form action="{% url 'payments:payment_pay' song.id %}" onsubmit="return confirmPurchase('{{ song.title|escapejs }}')">
                                        <button class="btn btn" type="submit" onclick="">💳</button>
                                    </form>
                                    {% else %}
                                    <a href="{{ song.mp3.url }}" download="{{ song.title }}.mp3">
                                        <button class="btn btn">💾</button>
                                        <a class="btn btn text-white" style="cursor: pointer;" data-id="{{ song.id }}" onclick="showLyrics(this.getAttribute('data-id'))">📃</a>
                                    </a>
                                    {% endif %}
                                    {% else %}
                                    <button type="button" class="btn btn" onclick="gotoLogin();">🤍</button>
                                    <button class="btn btn" type="submit" onclick="gotoLogin();">💳</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>





    {% endblock content %}

    {% block extra-script %}
    <script>

        function myFavorite() {
            const favoritesList = document.getElementById('favoritesMusicList');
            const recentList = document.getElementById('recentMusicList');
            favoritesList.style.display = 'block';
            recentList.style.display = 'none';
        }

        function myRecent() {
            const favoritesList = document.getElementById('favoritesMusicList');
            const recentList = document.getElementById('recentMusicList');
            favoritesList.style.display = 'none';
            recentList.style.display = 'block';
        }

        function addToCart(songId) {

            const addBtn = document.getElementById('add-btn-' + (songId));
            axios({
                method: 'get',
                url: '{% url "carts:add_song" %}',
                params: {
                    songid: songId
                }
            })
                .then(response => {
                    addBtn.id = 'remove-btn-' + response.data.song_id;  // Change the ID
                    addBtn.className = 'btn btn-outline-danger me-2';  // Change the classes
                    addBtn.onclick = () => removeFromCart(songId);  // Change the onclick event
                    addBtn.textContent = '찜 취소';
                    // alert('찜 목록에 "' + response.data.success + '"을(를) 추가하였습니다.');
                })
                .catch(error => console.log(error));

        }

        function removeFromCart(songId) {
            const mySong = document.getElementById('cart-song-' + (songId));
            console.log(mySong)
            axios({
                method: 'get',
                url: '{% url "carts:remove_song" %}',
                params: {
                    songid: songId
                }
            })
                .then(response => {
                    mySong.style.display = 'none';
                })
                .catch(error => console.log(error));
        }

        function showLyrics(songId) {
            // 예제를 위해 가사를 고정된 값으로 설정, 실제로는 서버에서 가사를 가져오는 코드 필요
            const lyrics = '여기에 서버에서 가져온 가사를 채웁니다.';
            axios({
                method: 'get',
                url: '{% url "songs:song_lyrics" %}',
                params: {
                    songid: songId
                },
                headers: {
                    'Content-Type': 'application/json',
                }
            })
                .then(response => {
                    // 모달의 가사 내용을 업데이트하고 모달을 표시
                    document.getElementById('lyricsContent').innerText = response.data.success;

                    // 모달 창을 표시
                    var lyricsModal = new bootstrap.Modal(document.getElementById('lyricsModal'), {
                        keyboard: true
                    });
                    lyricsModal.show();
                })
                .catch(error => console.log(error));
        }

        const audios = document.querySelectorAll('audio');

    // Function to pause all other audios
    function pauseAllOthers(currentAudio) {
        audios.forEach(audio => {
            if (audio !== currentAudio) {
                audio.pause();
                audio.currentTime = 0;
            }
        });
    }

    // Add event listeners to all audio elements
    audios.forEach(audio => {
        audio.addEventListener('play', function() {
            pauseAllOthers(audio);
        });
    });


    </script>
    {% endblock extra-script %}