{% extends "base.html" %}
{% load session_filters %}

{% block extra-style %}
<style>
    input[type="radio"].btn-check {
        display: block;
    }

    input[type="radio"].btn-check+label.btn {
        cursor: pointer;
        padding: 10px 20px;
        border: 2px solid transparent;
        border-radius: 5px;
        margin-right: 50px;
    }

    input[type="radio"].btn-check:focus+label.btn {
        border-color: #000000;
        /* Change border color on focus */
    }

    .musicItem {
        display: flex;
        align-items: center;
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: #f0f0f0;
    }

    .content {
        flex: 1;
        margin-right: 10px;
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

    #favoritesMusicList {
        display: block; /* Show Favorites by default */
    }

    /* Initially hidden */
    .musicList {
        display: none;
    }
</style>
{% endblock extra-style %}

{% block content %}


<div class="container ">
    <div style=" border-bottom: 1px solid #ccc; padding-bottom: 24px;" class="mb-3">
        <h1 id="chart-title" class="fs-2 text-white m-0 ">찜한 음악</h1>
    </div>
    <div>
        <input type="radio" class="btn-check" name="options-base" id="favoritesList" autocomplete="off">
        <label class="btn" for="favoritesList">Favorites</label>
        <input type="radio" class="btn-check" name="options-base" id="recentList" autocomplete="off">
        <label class="btn" for="recentList">최근 본 음악</label>
    </div>
    <div id="favoritesMusicList" class="musicList">
        {% for my_song in page_obj %}
        <div id="cart-{{my_song.song.id}}">
            <div class="content">
                <h3>타이틀: {{ my_song.song.title }}</h3>
                <p>아티스트: {{ my_song.song.seller.user }}</p>
            </div>
            <form action="{% url 'payments:payment_pay' my_song.song.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">구매</button>
            </form>
            <button class="btn btn-outline-danger me-2" onclick="removeFromCart('{{my_song.song.id}}');">찜 취소</button>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_other_pages %}
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
                    {% endif %}
        
                    {% for num in page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endfor %}
        
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
    <div id="recentMusicList" class="musicList">
        {% for song_id in request.session.viewed_songs %}
                {% with song=song_id|get_song %}
                    {% if song %}
                        <div>
                            <div class="content">
                                <h3>{{ song.title }}</h3>
                                <p>{{ song.seller.user }}</p>
                            </div>
                            <form action="{% url 'payments:payment_pay' song.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">구매</button>
                            </form>
                        </div>
                    {% endif %}
                {% endwith %}
        {% endfor %}
    </div>
</div>



{% endblock content %}

{% block extra-script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var favBtn = document.getElementById('favoritesList');
        var recBtn = document.getElementById('recentList');
        var favList = document.getElementById('favoritesMusicList');
        var recList = document.getElementById('recentMusicList');

        favBtn.addEventListener('change', function () {
            if (favBtn.checked) {
                favList.style.display = 'block';
                recList.style.display = 'none';
            }
        });

        recBtn.addEventListener('change', function () {
            if (recBtn.checked) {
                recList.style.display = 'block';
                favList.style.display = 'none';
            }
        });
    });

    function removeFromCart(songId) {
        const mySong = document.getElementById('cart-' + (songId));
        console.log(mySong)
        axios({
            method: 'get',
            url: '{% url "carts:remove_song" %}',
            params: {
                songid: songId
            }
        })
            .then(response => {
                alert(response.data.success);
                mySong.style.display = 'none';
            })
            .catch(error => console.log(error));
    }
</script>
{% endblock extra-script %}