{% if page_obj.has_other_pages %}
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link text-bg-dark" href="?page={{ page_obj.previous_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">&laquo; Previous</a></li>
    {% endif %}

    {% for num in page_range %}
    <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link text-bg-dark" href="?page={{ num }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">{{ num }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link text-bg-dark" href="?page={{ page_obj.next_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">Next &raquo;</a></li>
    {% endif %}
{% endif %}
