{% load session_filters %}
{% load thumbnail %}

{% for song, _ in page_obj %}


<div class="container-fluid p-0 mt-1">
    <div class="row justify-content-between align-items-center bg-dark p-2 shadow rounded-2" style="border: 1px solid hsla(0, 0%, 100%, .3);">
        {% thumbnail song.thumbnail "70x70" crop="center" as thumb %}
            <a href="{% url 'songs:song_detail' song.id %}" style="padding: 0; display: inline; width: 70px;"><img src="{{ thumb.url }}" alt="" style="width: 70px; height: 70px; padding: 0;"></a>
        {% endthumbnail %}
        <div class="col">
            <span class="text-white" style="margin-right: 2px;">{{ page_obj.start_index|add:forloop.counter0 }}</span>
            <span class="text-white ">위</span> 
            {% if score >= 50 %}
                <span style="color: deeppink;">Hot!</span>    
            {% elif score < 50 and score >= 20 %}
                <span style="color: aquamarine;">Recommended!!!</span>
            {% endif %}
            <a class="text-decoration-none " href="{% url 'songs:song_detail' song.id %}">
                <!-- 노래 세부 내용 페이지로 링크 -->
                <h5 class="text-white mb-0">{{ song.title }}</h5>
                <small class="fs-6" style="color: #888888;">
                    <a class="text-decoration-none " style="color: #888;" href="{% url 'sellers:seller_artist' song.seller.user.id %}">{{ song.seller }}</a>
                </small>
            </a>
        </div>
        <div class="col-auto d-flex align-items-center">
            <audio controls class="me-0" controlsList="nodownload">
                <source src="{{ song.mp3.url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {% if user.is_authenticated %}
            <!-- 여기서 templatetags 로 song.id를 넘겨서 구매한 노래인지 아닌 지 확인 하는 거를 체크-->
                {% is_purchased user song.id as purchased %}
                {% is_added_to_cart user song.id as added %}
                {% if not added %}
                    <button id="add-btn-{{song.id}}" type="button" class="btn btn" onclick="addToCart('{{song.id}}');">🤍</button>
                    <a class="btn btn" style="cursor: pointer;" data-id="{{ song.id }}" onclick="showLyrics('{{ song.id }}')">📃</a>
                {% else %}
                    <button id="remove-btn-{{song.id}}" type="button" class="btn btn" onclick="removeFromCart('{{song.id}}');">❤️</button>
                    <a class="btn btn" style="cursor: pointer;" data-id="{{ song.id }}" onclick="showLyrics('{{ song.id }}')">📃</a>
                {% endif %}
                {% if not purchased %}
                    <form action="{% url 'payments:payment_pay' song.id %}" onsubmit="return confirmPurchase('{{ song.title|escapejs }}')">
                        <button class="btn btn" type="submit" onclick="">💳</button>
                    </form>
                {% else %}
                    <a href="{{ song.mp3.url }}" download="{{ song.title }}.mp3">
                        <button class="btn btn">💾</button>
                    </a>
                {% endif %}
            {% else %}
                <button type="button" class="btn btn" onclick="gotoLogin();">🤍</button>
                <button class="btn btn" type="submit" onclick="gotoLogin();">💳</button>
                <a class="btn btn" style="cursor: pointer;" data-id="{{ song.id }}" onclick="showLyrics('{{ song.id }}')">📃</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
</div>
<div class="container mt-3">
<div class="d-flex justify-content-center">
    <div>
        <ul class="pagination">
            {% if page_obj.has_other_pages %}
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link text-bg-dark " href="?page={{ page_obj.previous_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">&laquo; Previous</a></li>
            {% endif %}
            {% for num in page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link text-bg-dark " href="?page={{ num }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">{{ num }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link text-bg-dark " href="?page={{ page_obj.next_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">Next &raquo;</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
</div>
