{% extends 'base.html' %}

{% block content %}
<h1>노래페이지</h1>


<div>
    <ul>
        {% for song in page_obj %}
        <li>{{ song }}</li>
        {% endfor %}
    </ul>
</div>

{% if page_obj.has_other_pages %}
<div>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="active"><span>{{ num }}</span></li>
        {% else %}
        <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        {% endif %}
    </ul>
</div>


{% endif %}
{% endblock content %}