{% extends "base.html" %}

{% load session_filters %}

{% block extra-style %}
<style>
    .heart-white {
        color: white;
    }

    .heart-red {
        color: red;
    }

    .btn-sm {
        background-color: rgb(49, 49, 49);
        padding: auto;
        line-height: auto; /* 줄간격 조정 */
        height: auto; /* 버튼 높이 조정 */
        color: rgb(255, 255, 255);
    }

    .col-md-5{
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
    }

    .btn-outline-light {
        color: rgb(255, 255, 255); 
        background-color: none; 
        border: none;
        position: relative;
        display: flex;
        top: -40px; /* 버튼을 위로 한 칸 올림 */
        left: 0px; /* 버튼을 왼쪽으로 정렬 */
        width: 20px; /* 버튼 너비 설정 */
        height: 20px; /* 버튼 높이 설정 */
    }

    .btn-outline-light-rm{
        color: rgb(255, 0, 0); /* 빨간색으로 변경 */
        background-color: transparent; 
        border: none;
        position: relative;
        display: flex;
        top: -40px; /* 버튼을 위로 한 칸 올림 */
        left: 0px; /* 버튼을 왼쪽으로 정렬 */
        width: 20px; /* 버튼 너비 설정 */
        height: 20px; /* 버튼 높이 설정 */
    }

</style>
{% endblock extra-style %}

{% block content %}
<div class="container">
    <div class="row" style="border-radius: 20px;">
        <!-- Left column for the song image -->
        <div class="col-md-4 text-center" style="margin-left: 20%;">
            <img src="{{ song.thumbnail.url }}" alt="{{ song.title }}" class="img-fluid rounded" style="max-width: 100%; height: auto;">
        </div>

        <!-- Right column for the song details -->
        <div class="col-md-5">
            <h3 class="card-title" style="color: rgb(255, 255, 255); margin-bottom: 20px;">{{ song.title }}</h3>
            {% is_added_to_cart user song.id as added %}<!-- 찜한 목록에 있으면 -->
            {% if not added %}
            <button id="toggle-btn" class="btn btn-outline-light" onclick="toggleButtonColor()">🤍</button> <!-- 흰색 하트로 유지 -->
            {% else %} <!-- 찜한 목록에 없으면 -->
            <button id="toggle-btn" class="btn btn-outline-light-rm" onclick="toggleButtonColor()">❤️</button> <!-- 빨간색 하트로 변경 및 활성화 -->
            {% endif %}
            <div class="d-flex">
                <div class="me-4">
                    <h6 style="color: aliceblue;">Made by</h6>
                    <a href="{% url 'sellers:seller_detail' song.seller.id %}" class="btn btn-sm">{{ song.seller }}</a>
                </div>
                <div>
                    <h6 style="color: aliceblue;">장르</h6>
                    <p class="btn btn-sm" style="background-color: rgb(49, 49, 49);">{{ song.genre }}</p>
                </div>
            </div>
            <audio controls class="w-100" controlsList="nodownload">
                <source src="{% url 'songs:song_stream' song.id %}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    <!-- Comments section -->
    <div class="card my-4" style="background-color: rgb(20, 20, 20); border:none">
        <hr style="border-top: 1px solid white;">
        <h5 class="card-header" style="color: aliceblue;">Comments:</h5>
        <hr style="border-top: 1px solid white;">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <textarea class="form-control" rows="3" style="background-color: rgb(46, 46, 46);"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">작성완료</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra-script %}
<script>
    function toggleButtonColor() {
        const btn = document.getElementById('toggle-btn');
        addToCart(); // 찜하기 동작 수행
    }

    function addToCart() {
        const addBtn = document.getElementById('toggle-btn');
        axios({
            method: 'get',
            url: '{% url "carts:add_song" %}',
            params: {
                songid: '{{ song.id }}'
            }
        })
            .then(response => {
                addBtn.classList.remove('btn-outline-light');
                addBtn.classList.add('btn-outline-light-rm');
                addBtn.textContent = '❤️';
                alert('찜 목록에 "{{ song.title }}"을(를) 추가하였습니다.');
            })
            .catch(error => console.log(error));
    }
</script>
{% endblock extra-script %}
