{% extends 'base.html' %}
{% load session_filters %}
{% load thumbnail %}

{% block extra-style %}
<style>

    .search-result {
        text-align: center;
    }

    .search-results {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-item {
        width: 200px;
        margin: 20px;
        text-align: center;
    }

    .search-thumbnail {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 5%;
    }
    @media (max-width: 576px) {
    .col-auto.d-flex.align-items-center {
    display: flex;
    flex-wrap: wrap; /* 요소가 넘칠 경우 줄바꿈 */
    align-items: center;
    gap: 5px;
        }
    /*오디오 요소*/
    #audio{
        order: 1;     /*순서 1번*/
    }
    /*가사 버튼*/
    #lyrics_btn {
        order: 2;     /*순서 2번*/
    }
    /*결제 다운로드 버튼*/
    #payment_btn {
        order: 3;     /*순서 3번*/
    }
    /* 찜하기 버튼 */
    #wish-btn {
        order: 4;     /*순서 4번*/
        margin-top: 5px;
        width: 100%;
        max-width: 100px;
        }

    .col.d-flex {
        flex-direction: column;
        gap: 5px;

        }

    .search-item {
        width: 100%;
        margin: 10px 0;
        }

    .pagination {
        justify-content: center;
        }

    .modal-dialog {
        max-width: 90%;
        }

    #lyricsContent {
        max-height: 50vh;
        overflow-y: auto;
        }
    #sort_button_group{
        display: flex;
        text-align: center; /* 가운데 정렬 */
        white-space: nowrap;
        width: fit-content;
        margin-bottom: 5px;
    }
    #new_button,#popular_button{
    display: inline-block;
    width: fit-content;
    text-align: center; /* 가운데 정렬 */
    padding: 2px 6px; /* 버튼의 패딩 조정 */
    font-size: normal; /* 텍스트 크기 조정 */
    margin: 5 5px; /* 버튼 간의 간격 조정 */
    }
    
    #search-form{
        flex : 1;
        margin-left: 5px;
        margin-right: 5px;
        white-space: nowrap;
        flex-direction: column; /* 세로로 배치 */
        align-items: stretch; /* 길이 맞춤 */
        margin-top: 10px; /* 위 여백 */
        margin-bottom: 10px; /* 아래 여백 */
  }
    .input-group {
        flex-direction: row;
        }
    .form-control {
        flex: 1;
        margin-right: 5px;
        }
    }
</style>

{% endblock extra-style %}
{% block content %}
<div class="container">

    <div style=" border-bottom: 1px solid hsla(0, 0%, 100%, .3); padding-bottom: 24px;">
        <h1 id="chart-title" class="fs-2 text-white m-0 ">차트</h1>
    </div>
    <div>
        <div class="container">
            <div class="row mt-3 mb-3">
                <div class="col d-flex ">
                    <div class="btn-group m-0" role="group" aria-label="Sort" style="border: 1px solid hsla(0, 0%, 100%, .3);" id="sort_button_group">
                        <button type="button" class="btn btn-dark m-0" onclick="showRecent();" id="new_button">최신순</button>
                        <button type="button" class="btn btn-dark m-0" onclick="showRanking();" id="popular_button">인기순</button>
                    </div>
                    <div style="display: inline-block; margin-left: 10px;">

                        <select id="genre-select" class="form-select bg-dark text-white" style="border: 1px solid hsla(0, 0%, 100%, .3);" onchange="filterByBoth(document.getElementById('tempo-select').value,this.value)">

                            <option value="">장르 선택</option>
                            <option value="">전체 장르</option>
                            <option value="pop">팝</option>
                            <option value="dance">댄스</option>
                            <option value="edm">EDM</option>
                            <option value="hiphop">힙합</option>
                            <option value="rnb">R&B</option>
                            <option value="classic">클래식</option>
                            <option value="newage">뉴에이지</option>
                            <option value="rock">락</option>
                            <option value="ballad">발라드</option>
                            <option value="indie">인디</option>
                            <option value="jazz">재즈/스윙</option>
                            <option value="latin">라틴</option>
                            <option value="korea">국악</option>
                            <option value="world">월드뮤직</option>
                            <option value="ambient">앰비언트</option>
                            <option value="trot">트로트</option>
                            <option value="etc">기타</option>
                        </select>
                    </div>
                    <div style="display: inline-block; margin-left: 10px;">
                        <select id="tempo-select" class="form-select bg-dark text-white" onchange="filterByBoth(this.value, document.getElementById('genre-select').value)" style="border: 1px solid hsla(0, 0%, 100%, .3);">
                            <option value="">템포 선택</option>
                            <option value="slower">아주 느림</option>
                            <option value="slow">느림</option>
                            <option value="normal">보통 빠름</option>
                            <option value="fast">빠름</option>
                            <option value="faster">아주 빠름</option>
                        </select>
                    </div>
                    <div style="display: inline-block; margin-left: 10px;">
                        <div class="d-flex ">
                            <form class="d-flex " id="search-form">
                                <div class="input-group ">
                                    <input type="text" id="search-input" title="title" class="form-control" style="max-width: 300px; border: 1px solid hsla(0, 0%, 100%, .3);" placeholder="검색어를 입력하세요. (노래명;아티스트명)">
                                    <button type="submit" class="btn btn-outline-light bg-dark " style="border: 1px solid hsla(0, 0%, 100%, .3);">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="songs-container">
            {% include 'songs/song_list_content.html' %}
        </div>

        <div class="container mt-3" id="pagination-container">
            <div class="d-flex justify-content-center">
                <div>
                    <ul class="pagination">
                        {% if page_obj.has_other_pages %}
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link text-bg-dark" href="?page={{ page_obj.previous_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">&laquo; Previous</a></li>
                        {% endif %}

                        {% for num in page_range %}
                        <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link text-bg-dark" href="?page={{ num }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">{{ num }}</a></li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link text-bg-dark" href="?page={{ page_obj.next_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">Next &raquo;</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}

{% block extra-script %}
<script>
    // 음악 탭에 들어갔을때 나오는 음악 리스트의 중복 재생 방지
    const audios = document.querySelectorAll('audio');
        function pauseAllOthers(currentAudio) {
            audios.forEach(audio => {
                if (audio != currentAudio) {
                    audio.pause();
                    audio.currentTime = 0;
                }
            });
        }
        // Add event listeners to all audio elements
        audios.forEach(audio => {
            audio.addEventListener('play', function() {
                pauseAllOthers(audio);
            });
        });
        

    
    // 최신순, 인기순, 장르별 중복 재생 방지
    function bindAudioControls() {
        const audios = document.querySelectorAll('audio');
        // Function to pause all other audios
        function pauseAllOthers(currentAudio) {
            audios.forEach(audio => {
                if (audio != currentAudio) {
                    audio.pause();
                    audio.currentTime = 0;
                }
            });
        }
        // Add event listeners to all audio elements
        audios.forEach(audio => {
            audio.addEventListener('play', function() {
                pauseAllOthers(audio);
            });
        });
    }

    function confirmPurchase(title) {
        return confirm('정말 "' + title + '"을(를) 구매하시겠습니까?');
    }

    function gotoLogin() {
        var loginModal = new bootstrap.Modal(document.getElementById('loginModal'), {
            keyboard: false
        });
        loginModal.show();
    }

    function showLyrics(songId) {
        // 예제를 위해 가사를 고정된 값으로 설정, 실제로는 서버에서 가사를 가져오는 코드 필요
        const lyrics = '여기에 서버에서 가져온 가사를 채웁니다.';
        axios({
            method: 'get',
            url: '{% url "songs:song_lyrics" %}',
            params: {
                songid: songId
            },
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => {
                // 모달의 가사 내용을 업데이트하고 모달을 표시
                document.getElementById('lyricsContent').innerText = response.data.success;

                // 모달 창을 표시
                var lyricsModal = new bootstrap.Modal(document.getElementById('lyricsModal'), {
                    keyboard: true
                });
                lyricsModal.show();
            })
            .catch(error => console.log(error));
    }

    function addToCart(songId) {

        const addBtn = document.getElementById('add-btn-' + (songId));
        axios({
            method: 'get',
            url: '{% url "carts:add_song" %}',
            params: {
                songid: songId
            }
        })
            .then(response => {
                addBtn.id = 'remove-btn-' + response.data.song_id;  // Change the ID
                addBtn.className = 'btn btn me-2';  // Change the classes
                addBtn.onclick = () => removeFromCart(songId);  // Change the onclick event
                addBtn.textContent = '❤️';
                // alert('찜 목록에 "' + response.data.success + '"을(를) 추가하였습니다.');
            })
            .catch(error => console.log(error));
    }

    function removeFromCart(songId) {
        const removeBtn = document.getElementById('remove-btn-' + (songId));
        axios({
            method: 'get',
            url: '{% url "carts:remove_song" %}',
            params: {
                songid: songId
            }
        })
            .then(response => {
                removeBtn.id = 'add-btn-' + response.data.song_id;  // Change the ID
                removeBtn.className = 'btn btn me-2';  // Change the classes
                removeBtn.onclick = () => addToCart(songId);  // Change the onclick event
                removeBtn.textContent = '🤍';
                // alert(response.data.success);
            })
            .catch(error => console.log(error));
    }

    // 추가된 confirmPurchase 함수 및 기타 필요 함수
    function confirmPurchase(title) {
        return confirm('정말 "' + title + '"을(를) 구매하시겠습니까?');
    }

    function gotoLogin() {
        var loginModal = new bootstrap.Modal(document.getElementById('loginModal'), {
            keyboard: false
        });
        loginModal.show();
    }

    function showRecent(pageNumber = 1) {
        const title = document.getElementById('chart-title');
        axios({
            method: 'get',
            url: '{% url "songs:song_recent" %}',
            params: {
                page: pageNumber
            }
        })
            .then(response => {
                title.textContent = '차트 | 최신순';
                document.getElementById('songs-container').innerHTML = response.data;
                console.log(response.data)
            })
            .then(() => {
            bindAudioControls(); // 바인딩 함수 호출
            })
            .catch(error => console.log(error));
    }

    function showRanking(pageNumber = 1) {
        const title = document.getElementById('chart-title');
        axios({
            method: 'get',
            url: '{% url "songs:song_ranking" %}',
            params: {
                page: pageNumber
            }
        })
            .then(response => {
                title.textContent = '차트 | 인기순';
                document.getElementById('songs-container').innerHTML = response.data;
            })
            .then(() => {
            bindAudioControls(); // 바인딩 함수 호출
            })
            .catch(error => console.log(error));
    }

    function filterByBoth(tempo, genre) {
        const title = document.getElementById('chart-title');
        console.log(tempo);
        console.log(genre);
        axios({
            method: 'get',
            url: '{% url "songs:song_filter" %}',  
            params: {
                tempo: tempo,
                genre: genre
            }
        })
        .then(response => {
            if (tempo === "" && genre === "") {
                title.textContent = '음원 목록 | 전체';
            } else if (tempo === ""){
                title.textContent = '장르별 음원 | ' + genre;
            } else if (genre === ""){
                title.textContent = '템포별 음원 | ' + tempo;
            } else {
                title.textContent = '음원 목록 | 장르 : ' + genre + ' | 템포 : ' + tempo;
            }
            document.getElementById('songs-container').innerHTML = response.data;
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
    }


    // 

    document.getElementById("search-form").addEventListener('submit', function (event) {
        event.preventDefault();
        const search_name_value = document.getElementById('search-input').value;
        const display_content = document.getElementById('songs-container');
        axios({
            method: 'post',
            url: '{% url "search" %}',
            data: JSON.stringify({
                title: search_name_value
            }),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => {
                console.log(response);
                if (response.data.success === 'true') {
                    display_content.innerHTML = response.data.data;
                } else {
                    display_content.textContent = response.data.message;
                }
            })
            .catch(error => console.log(error));
    });

    // 페이지네이션 링크 클릭 이벤트 처리
    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('page-link')) {
            event.preventDefault();
            const url = new URL(event.target.href);
            const page = url.searchParams.get('page');
            const order = document.getElementById('chart-title').textContent.includes('최신순') ? 'recent' : 'ranked';
            if (order === 'recent') {
                showRecent(page);
            } else {
                showRanking(page);
            }
        }
    });
</script>
{% endblock extra-script %}