{% extends 'base.html' %}
{% load session_filters %}
{% load thumbnail %}

{% block extra-style %}
<style>

    .search-result {
        text-align: center;
    }

    .search-results {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-item {
        width: 200px;
        margin: 20px;
        text-align: center;
    }

    .search-thumbnail {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 5%;
    }
</style>

{% endblock extra-style %}
{% block content %}
<div class="container">

    <div style=" border-bottom: 1px solid hsla(0, 0%, 100%, .3); padding-bottom: 24px;">
        <h1 id="chart-title" class="fs-2 text-white m-0 ">차트</h1>
    </div>
    <div>
        <div class="container">
            <div class="row mt-3 mb-3">
                <div class="col d-flex ">
                    <div class="btn-group m-0" role="group" aria-label="Sort" style="border: 1px solid hsla(0, 0%, 100%, .3);">
                        <button type="button" class="btn btn-dark m-0" onclick="showRecent();">최신순</button>
                        <button type="button" class="btn btn-dark m-0" onclick="showRanking();">인기순</button>
                    </div>
                    <div style="display: inline-block; margin-left: 10px;">
                        <select id="genre-select" class="form-select bg-dark text-white" style="border: 1px solid hsla(0, 0%, 100%, .3);" onchange="filterByGenre(this.value)">
                            <option value="">전체 장르</option>
                            <option value="pop">팝</option>
                            <option value="dance">댄스</option>
                            <option value="edm">EDM</option>
                            <option value="hiphop">힙합</option>
                            <option value="rnb">R&B</option>
                            <option value="classic">클래식</option>
                            <option value="newage">뉴에이지</option>
                            <option value="rock">락</option>
                            <option value="ballad">발라드</option>
                            <option value="indie">인디</option>
                            <option value="jazz">재즈/스윙</option>
                            <option value="latin">라틴</option>
                            <option value="korea">국악</option>
                            <option value="world">월드뮤직</option>
                            <option value="ambient">앰비언트</option>
                            <option value="trot">트로트</option>
                            <option value="etc">기타</option>
                        </select>
                    </div>
                    <div style="display: inline-block; margin-left: 10px;">
                        <select id="tempo-select" class="form-select bg-dark text-white" onchange="filterByTempo(this.value)" style="border: 1px solid hsla(0, 0%, 100%, .3);">
                            <option value="">템포 선택</option>
                            <option value="slower">아주 느림</option>
                            <option value="slow">느림</option>
                            <option value="normal">보통 빠름</option>
                            <option value="fast">빠름</option>
                            <option value="faster">아주 빠름</option>
                        </select>
                    </div>
                    <div style="display: inline-block; margin-left: 10px;">
                        <div class="d-flex ">
                            <form class="d-flex " id="search-form">
                                <div class="input-group ">
                                    <input type="text" id="search-input" title="title" class="form-control" style="width: 300px; border: 1px solid hsla(0, 0%, 100%, .3);" placeholder="검색어를 입력하세요. (노래명;아티스트명)">
                                    <button type="submit" class="btn btn-outline-light bg-dark " style="border: 1px solid hsla(0, 0%, 100%, .3);">검색</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="songs-container">
            {% for song, _ in page_obj %}
            <div class="container p-0 mt-1 px-3">
                <div class="row justify-content-between align-items-center bg-dark p-3 shadow" style="border: 1px solid hsla(0, 0%, 100%, .3);">
                    {% thumbnail song.thumbnail "70x70" crop="center" as thumb %}
                        <a href="{% url 'songs:song_detail' song.id %}" style="padding: 0; display: inline; width: 70px;"><img src="{{ thumb.url }}" alt="" style="width: 70px; height: 70px; padding: 0;"></a>
                    {% endthumbnail %}
                    <div class="col">
                        {% if forloop.counter <= 3 and page_obj.number == 1 %} 
                            <span style="margin-right: 2px; color: yellow;">{{ page_obj.start_index | add:forloop.counter0 }}</span><span style="color: yellow;">위</span>
                        {% else %}
                            <span class="text-white" style="margin-right: 2px;">{{ page_obj.start_index | add:forloop.counter0 }}</span><span
                                class="text-white ">위</span>
                        {% endif %}
                        <a class="text-decoration-none " href="{% url 'songs:song_detail' song.id %}">
                            <!-- 노래 세부 내용 페이지로 링크 -->
                            <h5 class="text-white mb-0">{{ song.title }}</h5>
                            <small class="fs-6" style="color: #888888;">
                                <a class="text-decoration-none " style="color: #888;" href="{% url 'sellers:seller_artist' song.seller.user.id %}">{{ song.seller }}</a>
                            </small>
                        </a>
                    </div>
                    <div class="col">
                        <div>
                            <a class="btn btn-outline-light me-2 text-white " style="cursor: pointer;" data-id="{{ song.id }}"
                                onclick="showLyrics(this.getAttribute('data-id'))">가사 보기</a>
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <audio controls class="me-3" controlsList="nodownload">
                            <source src="{{ song.mp3.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                        {% if user.is_authenticated %}
                        <!-- 여기서 templatetags 로 song.id를 넘겨서 구매한 노래인지 아닌 지 확인 하는 거를 체크-->
                        {% is_purchased user song.id as purchased %}
                        {% is_added_to_cart user song.id as added %}
                            <!-- 찜 버튼 -->
                            {% if not added %}
                                <button id="add-btn-{{song.id}}" type="button" class="btn btn-outline-light me-2"
                                    onclick="addToCart('{{song.id}}');">찜하기</button>
                            {% else %}
                                <button id="remove-btn-{{song.id}}" type="button" class="btn btn-outline-danger me-2"
                                    onclick="removeFromCart('{{song.id}}');">찜 취소</button>
                            {% endif %}
                            {% if not purchased %}
                            <!-- 다운로드 버튼 -->
                                <form action="{% url 'payments:payment_pay' song.id %}"
                                    onsubmit="return confirmPurchase('{{ song.title|escapejs }}')">
                                    <button class="btn btn-outline-light me-2" type="submit" onclick="">구매하기</button>
                                </form>
                            {% else %}
                                <a href="{{ song.mp3.url }}" download="{{ song.title }}.mp3">
                                    <button class="btn btn-outline-light me-2">다운로드</button>
                                </a>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn btn-outline-light me-2" onclick="gotoLogin();">찜하기</button>
                            <button class="btn btn-outline-light me-2" type="submit" onclick="gotoLogin();">구매하기</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="container mt-3">
                <div class="d-flex justify-content-center">
                    <div>
                        <ul class="pagination">
                            {% if page_obj.has_other_pages %}
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link text-bg-dark "
                                    href="?page={{ page_obj.previous_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">&laquo; Previous</a></li>
                            {% endif %}
    
                            {% for num in page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link text-bg-dark "
                                    href="?page={{ num }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">{{ num }}</a></li>
                            {% endfor %}
    
                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link text-bg-dark " href="?page={{ page_obj.next_page_number }}" style="border: 1px solid hsla(0, 0%, 100%, .3);">Next
                                    &raquo;</a></li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}

{% block extra-script %}
<script>
    var myAudio = document.getElementById("myAudio");

    function playAudio() {
        myAudio.play();
    }

    function pauseAudio() {
        myAudio.pause();
    }

    function confirmPurchase(title) {
        return confirm('정말 "' + title + '"을(를) 구매하시겠습니까?');
    }

    function gotoLogin() {
        var loginModal = new bootstrap.Modal(document.getElementById('loginModal'), {
            keyboard: false
        });
        loginModal.show();
    }

    function showLyrics(songId) {
        // 예제를 위해 가사를 고정된 값으로 설정, 실제로는 서버에서 가사를 가져오는 코드 필요
        const lyrics = '여기에 서버에서 가져온 가사를 채웁니다.';
        axios({
            method: 'get',
            url: '{% url "songs:song_lyrics" %}',
            params: {
                songid: songId
            },
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => {
                // 모달의 가사 내용을 업데이트하고 모달을 표시
                document.getElementById('lyricsContent').innerText = response.data.success;

                // 모달 창을 표시
                var lyricsModal = new bootstrap.Modal(document.getElementById('lyricsModal'), {
                    keyboard: true
                });
                lyricsModal.show();
            })
            .catch(error => console.log(error));
    }

    function addToCart(songId) {

        const addBtn = document.getElementById('add-btn-' + (songId));
        axios({
            method: 'get',
            url: '{% url "carts:add_song" %}',
            params: {
                songid: songId
            }
        })
            .then(response => {
                addBtn.id = 'remove-btn-' + response.data.song_id;  // Change the ID
                addBtn.className = 'btn btn-outline-danger me-2';  // Change the classes
                addBtn.onclick = () => removeFromCart(songId);  // Change the onclick event
                addBtn.textContent = '찜 취소';
                // alert('찜 목록에 "' + response.data.success + '"을(를) 추가하였습니다.');
            })
            .catch(error => console.log(error));
    }

    function removeFromCart(songId) {
        const removeBtn = document.getElementById('remove-btn-' + (songId));
        axios({
            method: 'get',
            url: '{% url "carts:remove_song" %}',
            params: {
                songid: songId
            }
        })
            .then(response => {
                removeBtn.id = 'add-btn-' + response.data.song_id;  // Change the ID
                removeBtn.className = 'btn btn-outline-light me-2';  // Change the classes
                removeBtn.onclick = () => addToCart(songId);  // Change the onclick event
                removeBtn.textContent = '찜하기';
                // alert(response.data.success);
            })
            .catch(error => console.log(error));
    }

    // 추가된 confirmPurchase 함수 및 기타 필요 함수
    function confirmPurchase(title) {
        return confirm('정말 "' + title + '"을(를) 구매하시겠습니까?');
    }

    function gotoLogin() {
        var loginModal = new bootstrap.Modal(document.getElementById('loginModal'), {
            keyboard: false
        });
        loginModal.show();
    }

    function showRecent(pageNumber = 1) {
        const title = document.getElementById('chart-title')
        axios({
            method: 'get',
            url: '{% url "songs:song_recent" %}',
            params: {
                page: pageNumber
            }
        })
            .then(response => {
                title.textContent = '차트 | 최신순';
                document.getElementById('songs-container').innerHTML = response.data;
            })
            .catch(error => console.log(error));
    }

    function showRanking(pageNumber = 1) {
        const title = document.getElementById('chart-title')
        axios({
            method: 'get',
            url: '{% url "songs:song_ranking" %}',
            params: {
                page: pageNumber
            }
        })
            .then(response => {
                title.textContent = '차트 | 인기순';
                document.getElementById('songs-container').innerHTML = response.data;
            })
            .catch(error => console.log(error));
    }

    function filterByGenre(genre) {
        const title = document.getElementById('chart-title');
        axios({
            method: 'get',
            url: '{% url "songs:song_genre" %}',  // Django URL을 적절하게 설정해야 합니다.
            params: {
                genre: genre
            }
        })
        .then(response => {
            if (genre === "") {
                title.textContent = '장르별 음원 | 전체';
            } else {
                title.textContent = '장르별 음원 | ' + genre;
            }
            document.getElementById('songs-container').innerHTML = response.data;
        })
        .catch(error => console.log(error));
    }

    function filterByTempo(tempo) {
        const title = document.getElementById('chart-title');
        console.log(tempo);
        axios({
            method: 'get',
            url: '{% url "songs:song_tempo" %}',  // 적절한 URL로 교체하세요
            params: {
                tempo: tempo
            }
        })
        .then(response => {
            if (tempo === "") {
                title.textContent = '템포별 음원 | 전체';
            } else {
                title.textContent = '템포별 음원 | ' + tempo;
            }
            document.getElementById('songs-container').innerHTML = response.data;
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
    }

    // 

    document.getElementById("search-form").addEventListener('submit', function (event) {
        event.preventDefault();
        const search_name_value = document.getElementById('search-input').value;
        const display_content = document.getElementById('songs-container');
        axios({
            method: 'post',
            url: '{% url "search" %}',
            data: JSON.stringify({
                title: search_name_value
            }),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => {
                console.log(response);
                if (response.data.success === 'true') {
                    display_content.innerHTML = response.data.data;
                } else {
                    display_content.textContent = response.data.message;
                }
            })
            .catch(error => console.log(error));
    });

</script>
{% endblock extra-script %}