
{% load socialaccount %}

<form action="{% provider_login_url 'google' %}" method='post'>
    {% csrf_token %}
    <button>Google Login</button>
</form>

<form action="{% provider_login_url 'naver' %}" method='post'>
    {% csrf_token %}
    <button>Naver Login</button>
</form>

<a href="{% provider_login_url 'naver' %}">asdas</a>

<form action="{% provider_login_url 'kakao' %}" method='post'>
    {% csrf_token %}
    <button>Kakao Login</button>
</form>

<a href="{% provider_login_url 'kakao' %}">asdas</a>