{% extends 'base.html' %}
{% load session_filters %}
{% load thumbnail %}

{% block content %}

<div class="container">
    <div style=" border-bottom: 1px solid #ccc; padding-bottom: 24px;">
        <h1 id="chart-title" class="fs-2 text-white m-0 ">{{seller.user.username}}</h1>
    </div>

    <div class="container p-0 mt-1 px-3">


        <div id="song-content">
            {% for song in page_obj %}
            <div>
                <div class="container-fluid p-0 mt-3">
                    <div class="row justify-content-between align-items-center bg-dark p-3 shadow">
                        <div class="col d-flex p-0">
                            {% thumbnail song.thumbnail "70x70" crop="center" as thumb %}
                            <a href="{% url 'songs:song_detail' song.id %}"
                                style="padding: 0; display: inline; width: 70px; margin-right: 10px;"><img
                                    src="{{ thumb.url }}" alt="" style="width: 70px; height: 70px; padding: 0;"></a>
                            {% endthumbnail %}
                            <a href="{% url 'songs:song_detail' song.id %}" style="display: inline-block;"
                                class="align-content-center "> <!-- 노래 세부 내용 페이지로 링크 -->
                                <h5 class="text-white mb-0">{{ song.title }}</h5>
                                <small class="text-secondary text-white">발매일: {{ song.created_at }}</small>
                            </a>
                        </div>
                        <div class="col">
                            <div>
                                <a class="text-white" style="cursor: pointer;" data-id="{{ song.id }}"
                                    onclick="showLyrics(this.getAttribute('data-id'))">가사 보기</a>
                            </div>
                        </div>

                        <div class="col-auto d-flex align-items-center">
                            <audio controls class="me-3" controlsList="nodownload">
                                <source src="{{song.mp3.url}}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>

                            {% if user.is_authenticated %}
                                {% is_added_to_cart user song.id as added %}

                                {% if not added %}
                                <button id="add-btn-{{song.id}}" type="button" class="btn btn-outline-light me-2"
                                    onclick="addToCart('{{song.id}}');">찜하기</button>
                                {% else %}
                                <button id="remove-btn-{{song.id}}" type="button" class="btn btn-outline-danger me-2"
                                    onclick="removeFromCart('{{song.id}}');">찜 취소</button>
                                {% endif %}

                                {% is_purchased user song.id as purchased %}
                                {% if not purchased %}
                                <form action="{% url 'payments:payment_pay' song.id %}" method="post" class="purchase-form">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-light me-2" id="puchase-btn">구매하기</button>
                                </form>
                                {% else %}
                                <a href="{{ song.mp3.url }}" download="{{ song.title }}.mp3">
                                    <button class="btn btn-outline-light me-2">다운로드</button>
                                </a>
                                {% endif %}
                            {% else %}
                                <button type="button" class="btn btn-outline-light me-2" onclick="gotoLogin();">찜하기</button>
                                <button class="btn btn-outline-light me-2" type="submit" onclick="gotoLogin();">구매하기</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="container mt-3">
                <div class="d-flex justify-content-center">
                    <div>
                        <ul class="pagination">
                            {% if page_obj.has_other_pages %}
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
                            {% endif %}

                            {% for num in page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}"><a class="page-link"
                                    href="?page={{ num }}">{{ num }}</a></li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next
                                    &raquo;</a></li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock content %}

{% block extra-script %}
<script>
    function addToCart(songId) {

        const addBtn = document.getElementById('add-btn-' + (songId));
        axios({
            method: 'get',
            url: '{% url "carts:add_song" %}',
            params: {
                songid: songId
            }
        })
            .then(response => {
                addBtn.id = 'remove-btn-' + response.data.song_id;  // Change the ID
                addBtn.className = 'btn btn-outline-danger me-2';  // Change the classes
                addBtn.onclick = () => removeFromCart(songId);  // Change the onclick event
                addBtn.textContent = '찜 취소';
            })
            .catch(error => console.log(error));
    }

    function removeFromCart(songId) {
        const removeBtn = document.getElementById('remove-btn-' + (songId));
        axios({
            method: 'get',
            url: '{% url "carts:remove_song" %}',
            params: {
                songid: songId
            }
        })
            .then(response => {
                removeBtn.id = 'add-btn-' + response.data.song_id;  // Change the ID
                removeBtn.className = 'btn btn-outline-light me-2';  // Change the classes
                removeBtn.onclick = () => addToCart(songId);  // Change the onclick event
                removeBtn.textContent = '찜하기';
            })
            .catch(error => console.log(error));
    }

    function showLyrics(songId) {
        // 예제를 위해 가사를 고정된 값으로 설정, 실제로는 서버에서 가사를 가져오는 코드 필요
        const lyrics = '여기에 서버에서 가져온 가사를 채웁니다.';
        axios({
            method: 'get',
            url: '{% url "songs:song_lyrics" %}',
            params: {
                songid: songId
            },
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => {
                // 모달의 가사 내용을 업데이트하고 모달을 표시
                document.getElementById('lyricsContent').innerText = response.data.success;

                // 모달 창을 표시
                var lyricsModal = new bootstrap.Modal(document.getElementById('lyricsModal'), {
                    keyboard: true
                });
                lyricsModal.show();
            })
            .catch(error => console.log(error));
    }

    function gotoLogin() {
        var loginModal = new bootstrap.Modal(document.getElementById('loginModal'), {
            keyboard: false
        });
        loginModal.show();
    }
</script>
{% endblock extra-script %}